*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
.main-calendar{
    display: flex;
    align-items: center;
    padding: 5px 5px;
    justify-content: center;
    min-height: 500px;
  }
.wrapper{
    width: 450px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  }
.banner{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
  }
.icons{
    display: flex;
  }
.icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
  }
.icons span:last-child{
    margin-right: -10px;
  }
.icons span:hover{
    background: #f2f2f2;
  }
.current-date{
    font-size: 1.45rem;
    font-weight: 500;
  }
.calendar{
    padding: 20px;
  }
.calendar ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }
.days{
    margin-bottom: 20px;
  }
.calendar li{
    color: #333;
    width: calc(100% / 7);
    font-size: 1.07rem;
  }
.weeks li{
    font-weight: 500;
    cursor: default;
  }
.days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
  }
.days li.inactive{
    color: #aaa;
  }
.days li.active{
    color: #fff;
  }
.days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
.days li.active::before{
    background: #9B59B6;
  }
.days li:not(.active):hover::before{
    background: #f2f2f2;
  }

  .event-descriptions li {
    font-weight: normal;
  }

  .hidden {
    display: none;
  }