body {
    margin: 0;
    background-color: rgb(242, 234, 246);
    font-family: sans-serif;
}

header {
    /*display: flex;
    justify-content: space-between;*/
    height: 250px;
    background-image: url("../assets/pumpkin-background.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: white;
    margin: 0px;
    margin-top: 5px;
}

h2 {
    padding: 5px;
}

nav{
    text-align: right;
}

ul {
    display: flex;    /* Display the <ul> as a flex container */
    flex-direction: column;
    list-style: none;
}

li {
    font-weight: bolder;
    padding: 5px 5px;
}

li a {
    color: white;
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

footer{
    margin: 15px;
}